.carouselWrapper {
  text-align: center;
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: fit-content;
}

.swiper {
  /* min-height: 100vh; */
  /* This changes the entire height of the entire carousel */
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
}

.img {
  display: block;
  width: 100%;
  /* height: auto; */
  height: 600px;
}
