.carouselWrapper {
  text-align: center;
}

.swiper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
}

.img {
  display: block;
  width: 100%;
  height: 800px;
}
