/* .wrapper {
  background-color: #295f2d;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  position: static;
}

.container {
  width: 100%;
  height: auto;
} */
